@{
    ViewData["Title"] = "Hot Pizza - Fresh Pizza";
}

<div class="jumbotron presentation">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 has-border">
            <h2>Cardápio</h2>
            <p>De uma olhada em nosso cardápio repleto de opções para você e sua familía!</p>
            <img
                 class="img-thumbnail align-image"
                 src="~/images/pizzaria-menu.jpg"
                 />
        </div>

        <div class="col-md-4 has-border">
            <h2>Faça seu pedido</h2>
            <p>Não quer esperar? Siga para a tela de pedido e receba a pizza de sua escolha</p>
            <img 
                 class="img-thumbnail align-image"
                 src="~/images/pizza-order.jpg" 
                 />
        </div>

        <div class="col-md-4 has-border">
            <h2>Sobre a Hot Pizza</h2>
            <p>Dê uma olhada por dentro dos bastidores da maior pizzaria de São Paulo</p>
            <img 
                 class="img-thumbnail align-image"
                 src="~/images/pizzaria-about-us.jpg" 
                 />
        </div>
    </div>
</div>