@model List<Pizza>;

@{
    ViewData["Title"] = "Index";
}
<table>
    @foreach (var pizza in Model)
    {
        <tr>
            <td>@pizza.Sabor</td>
            @foreach (var ingredientes in pizza.Ingredients)
            {
                <td>@ingredientes</td>
            }
            <td>@pizza.Recheada</td>
            <td>@pizza.Preco</td>
        </tr>
    }
</table>
<h1>Index</h1>